table
  td
    &.active-cell
      background-color: #E0F8E0
    &.inactive-cell
      background-color: #F8E0E6
    &.archive-cell
      background-color: #DEF3FF

.handle
  background-color: #DDD
  text-align: center
  i
    display: inline-block

.controls
  textarea
    width: 600px
    height: 200px
  input.string
    width: 600px
