.reference-tile
  position: relative
  margin-bottom: 40px

  &.small
    width: 360px
  &.large
    width: 760px

  &.bg-0
    background-color: $grey-0
  &.bg-1
    background-color: $grey-1
  &.bg-2
    background-color: $grey-2

.reference-image
  width: 100%
  padding-top: 35px

  img
    display: block
    margin: auto

.reference-actions
  padding: 15px
  a
    color: black
    text-decoration: underline

  .hover-circle
    width: 35px
    height: 20px
    background-color: red

.infobox
  display: none
  position: absolute
  height: 100%
  width: 370px
  top: 0px
  right: 0px

  background-color: red
