.reference-filter
  border-bottom: 3px solid black
  border-top: 3px solid black
  margin: 50px 0 20px
  padding: 10px 0

.isotope-item
  z-index: 2

.isotope-hidden.isotope-item
  pointer-events: none
  z-index: 1

.isotope-item
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.5s
  -moz-transition-duration: 0.5s
  -ms-transition-duration: 0.5s
  -o-transition-duration: 0.5s
  transition-duration: 0.5s

.isotope
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.7s
  -moz-transition-duration: 0.7s
  -ms-transition-duration: 0.7s
  -o-transition-duration: 0.7s
  transition-duration: 0.7s

.isotope
  -webkit-transition-property: height
  -moz-transition-property: height
  -ms-transition-property: height
  -o-transition-property: height
  transition-property: height

.isotope .isotope-item
  -webkit-transition-property: -webkit-transform, opacity
  -moz-transition-property:    -moz-transform, opacity
  -ms-transition-property:     -ms-transform, opacity
  -o-transition-property:      -o-transform, opacity
  transition-property:         transform, opacity

#filter-accordion
  margin: 0
  *
    border: none

  .accordion-heading
    a
      display: inline
      color: $red
      text-transform: uppercase
      text-decoration: none
      font-weight: 900
      font-size: 24px

      &#reset-filter
        text-decoration: underline
        font-size: 14px

      &.collapsed

  .filter-toggle
    padding: 0

  .accordion-inner
    padding: 10px 0px
    border-collapse: collapse
    border-spacing: 20px

    .filter-spacer
      display: table-cell
      width: 40px

    .filter-box
      display: table-cell
      width: 360px
      background-color: $red-light

      h4
        padding: 20px 0px 20px 90px
        text-transform: uppercase
        color: white
        font-size: 18px

      ul
        list-style-type: none
        a
          color: white
          text-transform: uppercase
          font-size: 18px
          padding-bottom: 20px
          text-decoration: none
          &.selected
            font-weight: 900
        li
          padding-left: 65px
          line-height: 30px

    .filter-box:first-child
      padding-left: 0px
