%h1 WE'RE DESIGNING FOR PEOPLE

.reference-filter
  FILTER

%h2.reference-count= "#{@references.count} REFERENZEN"

- @references.each_with_index do |reference, index|
  = render 'index_reference', :reference => reference, :index => index
